/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  background-image: url("../img/night-king.png");
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
}

/* /GLOBAL */

/* template con display: none */

.template {
  display: none;
}

/* /template con display: none */

/* Container ToDoList */

.container {
  width: 1300px;
  display: flex;
  justify-content: center;
  /* border: 1px solid white; */
}

.container .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
  border-radius: 10px;
}

.container .content:hover {
  /* box-shadow: cyan 0px 13px 27px -5px, cyan 0px 8px 16px -8px; */
  box-shadow: #2fa8cf 0px 13px 27px -5px, #2fa8cf 0px 8px 16px -8px;
}

.container .content h1:hover,
.container .content li p:hover,
.container .content li i:hover {
  color: #2fa8cf;
}

.container .content h1 {
  font-weight: 800;
}

.container .content input {
  width: 50%;
  height: 30px;
  margin-top: 20px;
}

.container .content input:focus {
  border: none;
}

.container .content ul {
  width: 50%;
}

.container .content ul li {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* border: 1px solid white; */
  padding: 10px 5px;
}

.container .content ul li p {
  width: 90%;
  overflow: auto;
  /* border: 1px solid white; */
}

.container .content ul li i {
  cursor: pointer;
}
/* /Container ToDoList */
